.env
credentials.json
.terraform*
terraform.tfstate*
tmp/
# Ignore profiles
tfenv.active
tfbackend.tf
deployment_context.tfvars
**/.DS_Store
tfbackend.tf.bak
.idea
# Ignore the active deployment context profile
deployment_context.auto.tfvars
# Ignore Python
**/__pycache__
**/.venv

